.gh-ad {
    margin: var(--gap) 0;
    color: var(--color-secondary-text);
    text-align: center;
}

.gh-ad-header {
    padding-bottom: var(--gap);
    border-bottom: 1px solid var(--color-border);
}

.gh-ad-post {
    margin: 0;
    padding: var(--gap) 0;
} 