{{!< default}}

<div class="gh-outer">
<main class="site-main gh-inner">

    <div class="post-feed gh-feed">
        {{#foreach posts}}
            {{> "loop"}}

            {{#if @custom.show_post_list_ad}}
                {{#if @custom.post_list_ad_position}}
                    {{#has number="nth:3"}}
                        <div class="gh-ad gh-ad-list">
                            {{{@custom.post_list_ad_code}}}
                        </div>
                    {{/has}}
                {{/if}}
            {{/if}}
        {{/foreach}}
    </div>

</main>
</div>